# Trigger beim Einschalten oder Einstecken (Canon EOS)
SUBSYSTEM=="usb", ATTR{idVendor}=="<VENDOR_ID>", ATTR{idProduct}=="<PRODUCT_ID>", ACTION=="add|bind", TAG+="systemd", ENV{SYSTEMD_USER_WANTS}="eos-webcam.service"

# Automatischer Stop beim Ausschalten
SUBSYSTEM=="usb", ATTR{idVendor}=="<VENDOR_ID>", ATTR{idProduct}=="<PRODUCT_ID>", ACTION=="remove", RUN+="/usr/bin/systemctl --user stop eos-webcam.service"

# Berechtigungen für den Zugriff ohne Root-Rechte
SUBSYSTEM=="usb", ATTR{idVendor}=="<VENDOR_ID>", ATTR{idProduct}=="<PRODUCT_ID>", MODE="0666"
