[Unit]
Description=Canon EOS Webcam Stream Daemon
After=graphical-session.target

[Service]
Type=simple
# %h ist eine systemd-Variable für dein Home-Verzeichnis
ExecStart=/usr/bin/bash %h/<PATH_TO_SCRIPT>/eos-stream.sh
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
